.git
.gitignore
.env
.env.*
!.env.docker.example
node_modules
dist
dist-ssr
runtime
coverage
reports
postman
vendor
api/vendor
api/logs
api/cache
.DS_Store
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*
